.clock {
    text-align: center;
    font-size: 60px;
}
    
body {
    background-color: blueviolet;
}

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    border-style: solid;
    border-color: greenyellow;
    margin:20px 400px;
    
}
